@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

//Font imports
@import url('https://fonts.googleapis.com/css?family=Rubik|Work+Sans');

//General rules

@for $index from 1 through 6 {
  h#{$index}{
    font-family: 'Rubik', sans-serif;
    text-shadow: 3px 2px 4px scale-color($primary-color, $lightness: -20%);

    @media print {
      color: black;
      text-shadow: none;
    }
  }
}

p, a{
  text-shadow: 3px 2px 4px scale-color($primary-color, $lightness: -20%);
  color: white;
  @media print {
    color: black;
    text-shadow: none;
  }

  &.center {
    text-align: center;
  }
  &.right {
    text-align: right;
  }
  &.success{
    color: $success-color;
  }
  &.alert{
    color: $alert-color;
  }
  &.link{
    color: $secondary-color;
  }
}

a:hover {

  color: $secondary-color;
}
/*button {
  //border: 1px solid white;
}
*/

i {

  &.small { font-size: 0.8rem; }
  &.medium { font-size: 1rem; }
  &.large { font-size: 1.2rem; }
  &.very-large {  font-size: 5rem;  }


}

.row.main > .columns{
  -webkit-box-shadow: inset 1px 1px 3px -1px rgba(0,0,0,0.75);
}


.alert {
  color: $alert-color;

  &.glow {
    text-shadow: 0px 0px 14px $alert-color;
  }
}
.primary{
  color: $primary-color;
}

.success{
  color: $success-color;
}

.warning{
  color: $warning-color;
}

.firstConnection{
  color: #e94a78;
}

.toast {
  &.toast-error {
    background-color: $alert-color;
  }
  &.toast-success {
    background-color: $success-color;
  }
  &.toast-warning {
    background-color: $warning-color;
  }
}

.vertical-align {
  &.middle {
    vertical-align: middle;
  }
  &.bottom {
    vertical-align: bottom;
  }
  &.top {
    vertical-align: top;
  }
}

header {

  position: fixed;
  top: 0;
  width: 100%;

  .fi-list {

    padding-left: 15px;
    padding-right: 15px;
    font-size: 2.5em;
  }
}

.off-canvas {
  top: 41px;
  bottom: 0;
}

.data-label {
  background-color: $primary-color;
  border: 1px solid white;
  box-shadow: 0px 1px 17px -2px rgb(39, 39, 39);
  padding: 5px;
  margin-bottom: 1rem;
  p {
  margin: 0;
  }
  span.blur {
    filter:blur(4px);
  }
  &.alert {
    background-color: $alert-color;
    p {
      color:white;
    }
  }
  &.secondary {
    background-color: $secondary-color;
    p{
      color:white;
    }
  }
  &.firstConnection{
    background-color: #8036d8;
    p{
      color:white;
    }
  }
  &.firstRequest{
    background-color: #30b6e5;
    p{
      color:white;
    }
  }
  
}
.menu.main {

  li {

    border-bottom: 1px solid $primary-color;
    padding-bottom: 5px;
    padding-top: 5px;

    &:hover {
      background-color: $secondary-color;
    }


    a {
      color:white;
      font-size: 1.5em;

      &:focus {
        outline: 0;
      }
    }
  }

}

.off-canvas-content {

  margin-top:41px;
  >.row {
    >.columns {
      background-color: scale-color($primary-color, $lightness: 20%);
      padding: -5px;
      border: 10px solid $primary-color;
    }
  }
}

.actions.row {
   .columns a {
     width:100%;
     vertical-align: middle;
     padding: 15px;
  }
}

.result-boxes {

  //display: table;
  margin-bottom: 15px;
  .result-boxes-inner {

    border: 1px solid white;
    //background-color: $primary-color;
    //display: table-cell;
    padding-bottom: 15px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;

    &.search {
      height: 540px;
      overflow-y: auto;
      overflow-x: auto;
    }
    &.appointments{
      border: 0px;
      height: 540px;
      overflow-y: auto;
      overflow-x: auto;
    }
  }

}

.message-content {
  display: inline;
}

.result-box {
  //height: 100px;
  background-color: $primary-color;
  border: 1px solid white;
  margin: 10px;

  &.tution > div {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .row {
    padding-right: 15px;
    padding-left: 15px;
    overflow:hidden;

    p {
      margin-bottom: 0;
      text-overflow: ellipsis;
    }

    .notification-header {
      font-weight: bold;
      font-size: 20px;
    }

    .button-column {
      padding: 0;
    }

    .button-group {
      float: right;
      margin-top: 5px;

      .button {
        margin-right: 5px;
        margin-top: 0px;
      }
    }



    a.button {
      margin: 0;
    }
  }
}

.no-padding {
  &.left {
    padding-left:0 !important;
  }
  &.right {
    padding-right:0 !important;
  }
  &.both {
    padding-left:0 !important;
    padding-right:0 !important;
  }
}

.no-margin {
  &-bottom {
    margin-bottom: 0;
  }
}


#send-message-form {
  textarea {
    resize: vertical;
    height: 100px;
  }
}

.labelled {
  border: 1px solid white;
  box-shadow: 0px 1px 17px -2px rgb(39, 39, 39);
  padding: 5px;
  margin-bottom: 1rem;
  p {
    margin: 0;
    color:white;
  }
  &.success{
    border: 1px solid white;
    background-color: $success-color;
    color: $white;
  }
  &.warning{
    background-color: $warning-color;
    color: $white;
  }
  &.pending{
    background-color: $primary-color;
    color: $white;
  }
  &.alter{
    background-color: red;
    color: $white;
  }
  &.firstConnection{
    background-color: #e94a78;
    color: $white;
  }
}


button.radius, .button.radius {
  border-radius: 3px; }
button.round, .button.round {
  border-radius: 1000px; }
.button.expanded {
  td:not(.expander) {
    width: 100%;
  }
}

.tablebutton{
  @include button;
  margin-bottom: 0px;
  &.alert{
    background-color: $alert-color;
    color: $white;
  }
  &.success{
    background-color: $success-color;
    color: $white;
  }
}

.chat-messages {
  .data-label {
    word-wrap: break-word;

  }
}


table{

  width:100%;

  margin-bottom: 20px;
  padding-bottom: 15px;

  @media print {
    border-bottom: 2px solid black;
    th {
      color: black;
      border: 1px solid black;
      &.header {
        background-color: darkcyan;
        border: none;
        color: white;

      }

      &#date-header {
        width:20%;
      }

      &#room-header {
        width:15%;
      }

      &#state-header {
        width:65%;
      }

      &#state-icon-header {
        width:5%;
      }

    }

  }

}

em {
  @media print {
    font-style: normal;         /* Removes italics */
    text-decoration: underline;
  }
}

.editUserButton{
  @include button;
  border-radius: 3px;
  border-color: $white;
  margin: 1px;
  &.success{
    border: 1px solid white;
    background-color: $success-color;
    color: $white;
  }
  &.warning{
    background-color: $warning-color;
    color: $white;
  }
  &.pending{
    background-color: $primary-color;
    color: $white;
  }
  &.alert{
    background-color: $alert-color;
    color: $white;
  }
}
body{
  @media print {
    background-color: white;
  }
}

@-webkit-keyframes error {
  from {
    -webkit-transform: scale(6.0);
    opacity: 0.75;
    color: blue;
    -webkit-text-fill-color: blue;
  }
  25%{
    -webkit-transform: scale(6.2);
    opacity: 0.85;
    color: green;
    -webkit-text-fill-color: green;
  }
  50% {
    -webkit-transform: scale(6.5);
    opacity: 1.0;
    color: red;
    -webkit-text-fill-color: red;
  }
  75%{
    -webkit-transform: scale(6.2);
    opacity: 0.85;
    color: yellow;
    -webkit-text-fill-color: yellow;
  }
  to {
    -webkit-transform: scale(6.0);
    opacity: 0.75;
    color: pink;
    -webkit-text-fill-color: pink;
  }
}

.error {
  opacity: 0.75;
  -webkit-animation-name: error;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
}
