@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
//@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

//Font imports
@import url('https://fonts.googleapis.com/css?family=Rubik|Work+Sans');

//General rules

@for $index from 1 through 6 {
  h#{$index}{
    font-family: 'Rubik', sans-serif;
    text-shadow: 3px 2px 4px scale-color($primary-color, $lightness: -20%);

    @media print {
      color: black;
      text-shadow: none;
    }
  }
}

p, a{
  text-shadow: 3px 2px 4px scale-color($primary-color, $lightness: -20%);
  color: white;
  @media print {
    color: black;
    text-shadow: none;
  }

  &.center {
    text-align: center;
  }
  &.right {
    text-align: right;
  }
  &.success{
    color: $success-color;
  }
  &.alert{
    color: $alert-color;
  }
  &.link{
    color: $secondary-color;
  }
}

a:hover {

  color: $secondary-color;
}
/*button {
  //border: 1px solid white;
}
*/

i {

  &.small { font-size: 0.8rem; }
  &.medium { font-size: 1rem; }
  &.large { font-size: 1.2rem; }
  &.very-large {  font-size: 5rem;  }


}

.row.main > .columns{
  -webkit-box-shadow: inset 1px 1px 3px -1px rgba(0,0,0,0.75);
}


.alert {
  color: $alert-color;

  &.glow {
    text-shadow: 0px 0px 14px $alert-color;
  }
}
.primary{
  color: $primary-color;
}

.success{
  color: $success-color;
}

.warning{
  color: $warning-color;
}

.firstConnection{
  color: #e94a78;
}

.toast {
  &.toast-error {
    background-color: $alert-color;
  }
  &.toast-success {
    background-color: $success-color;
  }
  &.toast-warning {
    background-color: $warning-color;
  }
}

.vertical-align {
  &.middle {
    vertical-align: middle;
  }
  &.bottom {
    vertical-align: bottom;
  }
  &.top {
    vertical-align: top;
  }
}

header {

  position: fixed;
  top: 0;
  width: 100%;

  .fi-list {

    padding-left: 15px;
    padding-right: 15px;
    font-size: 2.5em;
  }
}

.off-canvas {
  top: 41px;
  bottom: 0;
}

.data-label {
  background-color: $primary-color;
  border: 1px solid white;
  box-shadow: 0px 1px 17px -2px rgb(39, 39, 39);
  padding: 5px;
  margin-bottom: 1rem;
  p {
  margin: 0;
  }
  span.blur {
    filter:blur(4px);
  }
  &.alert {
    background-color: $alert-color;
    p {
      color:white;
    }
  }
  &.secondary {
    background-color: $secondary-color;
    p{
      color:white;
    }
  }
  &.firstConnection{
    background-color: #8036d8;
    p{
      color:white;
    }
  }
  &.firstRequest{
    background-color: #30b6e5;
    p{
      color:white;
    }
  }
  
}
.menu.main {

  li {

    border-bottom: 1px solid $primary-color;
    padding-bottom: 5px;
    padding-top: 5px;

    &:hover {
      background-color: $secondary-color;
    }


    a {
      color:white;
      font-size: 1.5em;

      &:focus {
        outline: 0;
      }
    }
  }

}

.off-canvas-content {

  margin-top:41px;
  >.row {
    >.columns {
      background-color: scale-color($primary-color, $lightness: 20%);
      padding: -5px;
      border: 10px solid $primary-color;
    }
  }
}

.actions.row {
   .columns a {
     width:100%;
     vertical-align: middle;
     padding: 15px;
  }
}

.result-boxes {

  //display: table;
  margin-bottom: 15px;
  .result-boxes-inner {

    border: 1px solid white;
    //background-color: $primary-color;
    //display: table-cell;
    padding-bottom: 15px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;

    &.search {
      height: 540px;
      overflow-y: auto;
      overflow-x: auto;
    }
    &.appointments{
      border: 0px;
      height: 540px;
      overflow-y: auto;
      overflow-x: auto;
    }
  }

}

.message-content {
  display: inline;
}

.result-box {
  //height: 100px;
  background-color: $primary-color;
  border: 1px solid white;
  margin: 10px;

  &.tution > div {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .row {
    padding-right: 15px;
    padding-left: 15px;
    overflow:hidden;

    p {
      margin-bottom: 0;
      text-overflow: ellipsis;
    }

    .notification-header {
      font-weight: bold;
      font-size: 20px;
    }

    .button-column {
      padding: 0;
    }

    .button-group {
      float: right;
      margin-top: 5px;

      .button {
        margin-right: 5px;
        margin-top: 0px;
      }
    }



    a.button {
      margin: 0;
    }
  }
}

.no-padding {
  &.left {
    padding-left:0 !important;
  }
  &.right {
    padding-right:0 !important;
  }
  &.both {
    padding-left:0 !important;
    padding-right:0 !important;
  }
}

.no-margin {
  &-bottom {
    margin-bottom: 0;
  }
}


#send-message-form {
  textarea {
    resize: vertical;
    height: 100px;
  }
}

.labelled {
  border: 1px solid white;
  box-shadow: 0px 1px 17px -2px rgb(39, 39, 39);
  padding: 5px;
  margin-bottom: 1rem;
  p {
    margin: 0;
    color:white;
  }
  &.success{
    border: 1px solid white;
    background-color: $success-color;
    color: $white;
  }
  &.warning{
    background-color: $warning-color;
    color: $white;
  }
  &.pending{
    background-color: $primary-color;
    color: $white;
  }
  &.alter{
    background-color: red;
    color: $white;
  }
  &.firstConnection{
    background-color: #e94a78;
    color: $white;
  }
}


button.radius, .button.radius {
  border-radius: 3px; }
button.round, .button.round {
  border-radius: 1000px; }
.button.expanded {
  td:not(.expander) {
    width: 100%;
  }
}

.tablebutton{
  @include button;
  margin-bottom: 0px;
  &.alert{
    background-color: $alert-color;
    color: $white;
  }
  &.success{
    background-color: $success-color;
    color: $white;
  }
}

.chat-messages {
  .data-label {
    word-wrap: break-word;

  }
}


table{

  width:100%;

  margin-bottom: 20px;
  padding-bottom: 15px;

  @media print {
    border-bottom: 2px solid black;
    th {
      color: black;
      border: 1px solid black;
      &.header {
        background-color: darkcyan;
        border: none;
        color: white;

      }

      &#date-header {
        width:20%;
      }

      &#room-header {
        width:15%;
      }

      &#state-header {
        width:65%;
      }

      &#state-icon-header {
        width:5%;
      }

    }

  }

}

em {
  @media print {
    font-style: normal;         /* Removes italics */
    text-decoration: underline;
  }
}

.editUserButton{
  @include button;
  border-radius: 3px;
  border-color: $white;
  margin: 1px;
  &.success{
    border: 1px solid white;
    background-color: $success-color;
    color: $white;
  }
  &.warning{
    background-color: $warning-color;
    color: $white;
  }
  &.pending{
    background-color: $primary-color;
    color: $white;
  }
  &.alert{
    background-color: $alert-color;
    color: $white;
  }
}
body{
  @media print {
    background-color: white;
  }
}

@-webkit-keyframes error {
  from {
    -webkit-transform: scale(6.0);
    opacity: 0.75;
    color: blue;
    -webkit-text-fill-color: blue;
  }
  25%{
    -webkit-transform: scale(6.2);
    opacity: 0.85;
    color: green;
    -webkit-text-fill-color: green;
  }
  50% {
    -webkit-transform: scale(6.5);
    opacity: 1.0;
    color: red;
    -webkit-text-fill-color: red;
  }
  75%{
    -webkit-transform: scale(6.2);
    opacity: 0.85;
    color: yellow;
    -webkit-text-fill-color: yellow;
  }
  to {
    -webkit-transform: scale(6.0);
    opacity: 0.75;
    color: pink;
    -webkit-text-fill-color: pink;
  }
}

.error {
  opacity: 0.75;
  -webkit-animation-name: error;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
}


//SPECIAL
body#star, html#star
{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Droid Sans", arial, verdana, sans-serif;
  font-weight: 700;
  color: #ff6;
  background-color: #000;
  overflow: hidden;
}

p#start
{
  position: relative;
  width: 16em;
  font-size: 200%;
  font-weight: 400;
  margin: 20% auto;
  color: #4ee;
  opacity: 0;
  z-index: 1;
  -webkit-animation: intro 5s ease-out;
  -moz-animation: intro 5s ease-out;
  -ms-animation: intro 5s ease-out;
  -o-animation: intro 5s ease-out;
  animation: intro 5s ease-out;
}

@-webkit-keyframes intro {
  0% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

@-moz-keyframes intro {
  0% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

@-ms-keyframes intro {
  0% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

@-o-keyframes intro {
  0% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes intro {
  0% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

h1#star
{
  position: absolute;
  width: 2.6em;
  left: 50%;
  top: 25%;
  font-size: 10em;
  text-align: center;
  margin-left: -1.3em;
  line-height: 0.8em;
  letter-spacing: -0.05em;
  color: #000;
  text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
  opacity: 0;
  z-index: 1;
  -webkit-animation: logo 15s ease-out 5s;
  -moz-animation: logo 15s ease-out 5s;
  -ms-animation: logo 15s ease-out 5s;
  -o-animation: logo 15s ease-out 5s;
  animation: logo 15s ease-out 5s;
  .fire {
    animation: animation 1s ease-in-out infinite alternate;
    -moz-animation: animation 1s ease-in-out infinite alternate;
    -webkit-animation: animation 1s ease-in-out infinite alternate;
    -o-animation: animation 1s ease-in-out infinite alternate;
  }

  .burn {
    animation: animation .65s ease-in-out infinite alternate;
    -moz-animation: animation .65s ease-in-out infinite alternate;
    -webkit-animation: animation .65s ease-in-out infinite alternate;
    -o-animation: animation .65s ease-in-out infinite alternate;
  }
}

h1 sub#star
{
  display: block;
  font-size: 0.3em;
  letter-spacing: 0;
  line-height: 0.8em;
  .fire {
    animation: animation 1s ease-in-out infinite alternate;
    -moz-animation: animation 1s ease-in-out infinite alternate;
    -webkit-animation: animation 1s ease-in-out infinite alternate;
    -o-animation: animation 1s ease-in-out infinite alternate;
  }

  .burn {
    animation: animation .65s ease-in-out infinite alternate;
    -moz-animation: animation .65s ease-in-out infinite alternate;
    -webkit-animation: animation .65s ease-in-out infinite alternate;
    -o-animation: animation .65s ease-in-out infinite alternate;
  }
}

@-webkit-keyframes logo {
  0% { -webkit-transform: scale(1); opacity: 1; }
  50% { opacity: 1; }
  100% { -webkit-transform: scale(0.1); opacity: 0; }
}

@-moz-keyframes logo {
  0% { -moz-transform: scale(1); opacity: 1; }
  50% { opacity: 1; }
  100% { -moz-transform: scale(0.1); opacity: 0; }
}

@-ms-keyframes logo {
  0% { -ms-transform: scale(1); opacity: 1; }
  50% { opacity: 1; }
  100% { -ms-transform: scale(0.1); opacity: 0; }
}

@-o-keyframes logo {
  0% { -o-transform: scale(1); opacity: 1; }
  50% { opacity: 1; }
  100% { -o-transform: scale(0.1); opacity: 0; }
}

@keyframes logo {
  0% { transform: scale(1); opacity: 1; }
  50% { opacity: 1; }
  100% { transform: scale(0.1); opacity: 0; }
}

/* the interesting 3D scrolling stuff */
#titles
{
  position: absolute;
  width: 18em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 350%;
  text-align: justify;
  overflow: hidden;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: perspective(300px) rotateX(25deg);
  -moz-transform: perspective(300px) rotateX(25deg);
  -ms-transform: perspective(300px) rotateX(25deg);
  -o-transform: perspective(300px) rotateX(25deg);
  transform: perspective(300px) rotateX(25deg);
}

#titles:after
{
  position: absolute;
  content: ' ';
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
  background-image: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
  background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
  pointer-events: none;
}

#titles p
{
  color: #ff6;
  background-color: #000;
  text-align: justify;
  margin: 0.8em 0;
}

#titles p.center
{
  text-align: center;
}

#titles p.center-title
{
  font-size:120%;
  text-align: center;
  text-decoration: underline;
}

#titles a
{
  color: #ff6;
  text-decoration: underline;
}

#titlecontent
{
  position: absolute;
  top: 100%;
  -webkit-animation: scroll 100s linear 4s infinite;
  -moz-animation: scroll 100s linear 4s infinite;
  -ms-animation: scroll 100s linear 4s infinite;
  -o-animation: scroll 100s linear 4s infinite;
  animation: scroll 100s linear 4s infinite;
}

/* animation */
@-webkit-keyframes scroll {
  0% { top: 100%; }
  100% { top: -170%; }
}

@-moz-keyframes scroll {
  0% { top: 100%; }
  100% { top: -170%; }
}

@-ms-keyframes scroll {
  0% { top: 100%; }
  100% { top: -170%; }
}

@-o-keyframes scroll {
  0% { top: 100%; }
  100% { top: -170%; }
}

@keyframes scroll {
  0% { top: 100%; }
  100% { top: -170%; }
}

.fire {
  animation: animation 1s ease-in-out infinite alternate;
  -moz-animation: animation 1s ease-in-out infinite alternate;
  -webkit-animation: animation 1s ease-in-out infinite alternate;
  -o-animation: animation 1s ease-in-out infinite alternate;
}

.burn {
  animation: animation .65s ease-in-out infinite alternate;
  -moz-animation: animation .65s ease-in-out infinite alternate;
  -webkit-animation: animation .65s ease-in-out infinite alternate;
  -o-animation: animation .65s ease-in-out infinite alternate;
}

@keyframes animation
{
  0% {text-shadow: 0 0 20px #fefcc9,
  10px -10px 30px #feec85,
  -20px -20px 40px #ffae34,
  20px -40px 50px #ec760c,
  -20px -60px 60px #cd4606,
  0 -80px 70px #973716,
  10px -90px 80px #451b0e;}
  100% {text-shadow: 0 0 20px #fefcc9,
  10px -10px 30px #fefcc9,
  -20px -20px 40px #feec85,
  22px -42px 60px #ffae34,
  -22px -58px 50px #ec760c,
  0 -82px 80px #cd4606,
  10px -90px 80px  #973716;}
}

@-moz-keyframes animation
{
  0% {text-shadow: 0 0 20px #fefcc9,
  10px -10px 30px #feec85,
  -20px -20px 40px #ffae34,
  20px -40px 50px #ec760c,
  -20px -60px 60px #cd4606,
  0 -80px 70px #973716,
  10px -90px 80px #451b0e;}
  100% {text-shadow: 0 0 20px #fefcc9,
  10px -10px 30px #fefcc9,
  -20px -20px 40px #feec85,
  22px -42px 60px #ffae34,
  -22px -58px 50px #ec760c,
  0 -82px 80px #cd4606,
  10px -90px 80px  #973716;}
}

@-webkit-keyframes animation
{
  0% {text-shadow: 0 0 20px #fefcc9,
  10px -10px 30px #feec85,
  -20px -20px 40px #ffae34,
  20px -40px 50px #ec760c,
  -20px -60px 60px #cd4606,
  0 -80px 70px #973716,
  10px -90px 80px #451b0e;}
  100% {text-shadow: 0 0 20px #fefcc9,
  10px -10px 30px #fefcc9,
  -20px -20px 40px #feec85,
  22px -42px 60px #ffae34,
  -22px -58px 50px #ec760c,
  0 -82px 80px #cd4606,
  10px -90px 80px  #973716;}
}

@-o-keyframes animation
{
  0% {text-shadow: 0 0 20px #fefcc9,
  10px -10px 30px #feec85,
  -20px -20px 40px #ffae34,
  20px -40px 50px #ec760c,
  -20px -60px 60px #cd4606,
  0 -80px 70px #973716,
  10px -90px 80px #451b0e;}
  100% {text-shadow: 0 0 20px #fefcc9,
  10px -10px 30px #fefcc9,
  -20px -20px 40px #feec85,
  22px -42px 60px #ffae34,
  -22px -58px 50px #ec760c,
  0 -82px 80px #cd4606,
  10px -90px 80px  #973716;}
}

.selected{
  background-color: $secondary-color;
}

.newText{
  color: $primary-color;
  font-size: 0.1%;
}